:root {
    --color-background: #ffffff;
    --color-text: #222222;
    --color-border: #dddddd;
    --color-link: #0077cc;
    --color-link-hover: #2563eb;

    --color-button: #2563eb;
    --color-button-hover: #1e40af;
    --color-dropdown-bg: #ffffff;
    --color-dropdown-text: #000000;
    --color-dropdown-border: #cccccc;

    --color-theme-light: #f5f5f5;
    --color-theme-dark: #333333;

    --color-warning: #ff9800;
    --color-warning-hover: #fb8c00;

    --color-danger: #f44336;
    --color-danger-hover: #d32f2f;

    --color-muted-text: #6b7280;
    --color-text-muted-strong: #374151;

    --color-surface: #fafafa;

    --color-highlight: #ffe082;
    --color-highlight-text: #333333;
}

[data-theme="dark"] {
    --color-background: #1a1a1a;
    --color-text: #eeeeee;
    --color-border: #444444;
    --color-link: #66b2ff;
    --color-link-hover: #99ccff;

    --color-button: #3b82f6;
    --color-button-hover: #1e3a8a;
    --color-dropdown-bg: #2a2a2a;
    --color-dropdown-text: #ffffff;
    --color-dropdown-border: #555555;

    --color-theme-light: #666666;
    --color-theme-dark: #222222;

    --color-warning: #ffa726;
    --color-warning-hover: #ffb74d;

    --color-danger: #e57373;
    --color-danger-hover: #ef5350;

    --color-muted-text: #a0aec0;
    --color-text-muted-strong: #cbd5e0;

    --color-surface: #2a2a2a;

    --color-highlight: #ffb74d;
    --color-highlight-text: #1a1a1a;

}