:root {
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* font-family: 'Inter', sans-serif; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #1e40af;
  text-decoration: none;
}

a:hover {
  color: #2563eb;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

ol {
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}