.productForm {
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    /* outline: 1px solid red; */
}

.productForm h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* outline: 1px solid red; */
}

div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: var(--text-color);
}

input {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    background-color: #fff;
    transition: border-color 0.2s;
}

input:focus {
    outline: none;
    border-color: #2563eb;
}

textarea:focus {
    outline: none;
    border-color: #2563eb;
}

input[type="text"],
input[type="number"],
textarea {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

textarea {
    max-width: 500px;
    min-height: 200px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 0.5rem 0.75rem;
}

button {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: #2563eb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #1e40af;
}