.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    font-family: sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
    margin-top: auto;
    font-size: 14px;
}

.main {
    display: flex;
    flex: 1;
}